<launch>

<node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
<rosparam command="load" file="$(find supervisor_node)/monitor_analyzers.yaml" />
</node>

<node name="test_node1" pkg="supervisor_node" type="testNode.py" output="screen" >
</node>

<node name="test_node2" pkg="supervisor_node" type="testNode.py" output="screen" >
 <param name="onlyInfo" type="bool" value="True" />
</node>

<node name="supervisor_node1" pkg="supervisor_node" type="supervisor.py" output="screen">
</node>

</launch>

